{%  extends 'home-layout.html.twig' %}

{% block title %}
{{ parent() }} - Create Package
{% endblock %}


            {% block navOptions %}
            {{parent()}}
            {% endblock %}


{% block body %}
    <section class="hero is-dark postal-bg-image">
        {{ parent() }}
    </section>

    <section id="postal-banner" class="section postal-banner">
        <div class="container">

            <div class="title">Create a Courier.PO Package</div>
            <div class="subtitle">Describe your shipping details and needs. <br/><small>Or you can sign in and keep track of all your Courier.PO transactions!</small></div>
        </div>

    </section>

    

{% endblock %}