{%  extends 'home-layout.html.twig' %}

{% block title %}
{{ parent() }} - Create an Account
{% endblock %}


            {% block navOptions %}
            {{parent()}}
            {% endblock %}


{% block body %}
    <section class="hero is-dark postal-bg-image">
        {{ parent() }}
    </section>  


    <div class="postal-bg-register">
    <section class="section is-medium">
        <div class="container postal-header-banner">

            <div class="title">Create Account</div>
            <div class="subtitle">
                Create an account with Courier.PO
                <br>
                <small>With an account, you'll be able to manage all your packages and invoices! and more.</small>
            </div>

        </div>
    </section>
    </div>

    <section class="section is-small">
        <div class="container">
        <div class="columns">

            <div class="column is-three-quarters">

            {{ form(registration)}}

            </div>
            
        </div>
        </div>
    </section>

    <div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
        <p class="modal-card-title">Modal title</p>
        <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
        <!-- Content ... -->
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success">Save changes</button>
            <button class="button">Cancel</button>
        </footer>
    </div>
    </div>
    
{% endblock %}