{%  extends 'home-layout.html.twig' %}

{% block title %}
{{ parent() }} - Create an Account
{% endblock %}


            {% block navOptions %}
            {{parent()}}
            {% endblock %}


{% block body %}
    <section class="hero is-dark postal-bg-image">
        {{ parent() }}
    </section>  

    <section class="section">
        <div class="container">
            <div class="subtitle">
                Create Your Account
            </div>
        </div>
    </section>

    <section class="section is-small">
        <div class="container">
        <div class="columns">

            <div class="column is-three-quarters">

            {{ form(registration)}}

            </div>
            
        </div>
        </div>
    </section>
    
{% endblock %}