{%  extends 'home-layout.html.twig' %}

{% block title %}
{{ parent() }} - Track package
{% endblock %}


            {% block navOptions %}
            {{parent()}}
            {% endblock %}


{% block body %}
    <section class="hero is-dark postal-bg-image">
        {{ parent() }}
    </section>

    <section class="section is-medium">
        <div>
            <div class="columns is-mobile">
            <div class="column is-4 is-offset-4 postal-track-ribbon">
            

                <div class="field">
                    <form>
                    <div class="subtitle">Enter a CourierPO tracking number.</div>
                    <input class="package-track track-input" placeholder="Tracking number"/>
                    <button class="package-track track-button">Track</button>
                    </form>
                </div>

                            
            </div>
            </div>

        </div>
    </section>

    {% block trackResult %} 
    
    <div>
    </div>
    
    {% endblock %}

{% endblock %}