html, body {
    background-color: #f0f0f0;
    box-sizing: border-box;
    max-width: 100em;
    margin: 0 auto;
}

.portal-modal {
    background-color: #ffffff;
    border-radius: 5px;
}

.postal-brand {
    font-size: 1.32em;
    font-weight: bold;
}

.tracking-history-result {
    background-color: #ffffff;
    border-bottom: solid 20px #F6BE00;
    margin-bottom: 25px;
}

.postal-bg-image {  
    background-image: url("../images/high-bay-408222_1920.jpg");
    background-color: #292929;
    height: auto;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

.postal-bg-image .hero-body.postal-bg-style, .postal-careers-image .postal-cover{
    background: rgba(29, 29, 29, .58);
}
.postal-bg-image .hero-head.postal-bg-style, .dashbar{
    background: radial-gradient(circle,#c8102e, #960C22);
}

.package-track {
    border: none;
    padding: 7px 15px;
    font-size: 1.2rem;
    border-radius: 5px;
}

.package-track-form {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.package-track-form input{
    width: 300px;
}

.package-track-form div button, .navbar-item .buttons .postal-button {
    background-color: #00b388;
    color: #ffffff;
    border: none;
    padding: .25em 10px;
}

.postal-button button, .postal-button button:active, .postal-button .button:focus:not(:active), .postal-button .button.is-focused:not(:active){
    background: none;
    border: none;
    box-shadow: none;
}

.postal-button:hover{
    background: #292929;
}

.postal-button button span{
    color: #ffffff;
}

.postal-idea.postal-idea-image {
    background-image: url("../images/mothers-day.jpg");
    background-color: #ffffff;
    height: 400px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

.postal-idea.postal-idea-message {
    padding-top: 100px;
    background: transparent;
    border: none;
    text-align: center;
}

.postal-idea {
    box-shadow: none;
}

.postal-idea .title{
    font-weight: lighter;
    padding: 15px 0;
}

.support .support-container, .support .subtitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.support .support-container .postal-support-button {
    background-color: #00866C;
    color: #ffffff;
    padding: 7px 15px;
    border-radius: 10px;
    font-size: 1.2rem;
}

.support .support-container .postal-support-button:hover {
    background-color: #00b388;
}

.postal-support-ribbon {
    background-color: #F6BE00
}

section.info {
    background-color: #ffffff;
}

section.info div {
    text-align: center;
}
.postal-copyright {
    width: 100%;
    font-size: .65em;
    padding: 2px 5px;
    background-color: #960C22;
}

.postal-copyright *, .postal-copyright a:hover, .postal-copyright a:visited {
    text-decoration: none;
    color: #fff9d9;
}

.postal-track-ribbon {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer {
    background-color: #292929;
}

.footer-listing ul {
    list-style: none;
    font-size: 1.1em;
    margin: 0;
}

.footer-listing ul li a, .footer-listing ul li a:visited, .footer-listing ul li a:active {
    color: #ffffff;
}

.footer-listing ul li a:hover {
    color: #00b388;
}

.postal-login div {
    display: flex;
    flex-direction: column;
}

.postal-login div button {
    margin: 10px 0;
    color: #ffffff;
    background-color: #00b388;
    padding: .25em 10px;
    border: none;
}
.postal-login div label {
    font-weight: bold;
}

#postal-banner{
    background-color: #F6BE00;
}

.postal-career-listings {
    height: 10em;
}

.postal-career-default {
    background: #F6BE00
}

.postal-careers-general {
    background-color: #ffffff;
    color: #292929;
    padding: 10px 15px;
}

.apply-button {
    background-color: #00b388;
    color: #ffffff;
    padding: 5px 10px;
}

.postal-career-hero {
    margin-top: 120px;
    font-size: 2.7rem;
    color: #ffffff;
}

.postal-careers-image {
    text-align: center;
    font-weight: lighter;

    background-image: url("../images/brainstorming.jpg");
    background-color: #ffffff;
    height: 400px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

.postal-bg-tracking {
    background-image: url("../images/architecture-building-city-2047397.jpg");
    background-color: #ffffff;
    height: inherit;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

.postal-bg-register {
    background-image: url("../images/blur-businesswoman-close-up.jpg");
    background-color: #ffffff;
    height: inherit;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

.postal-bg-register section {
    background: rgba(216, 155, 0, .8)
}


.postal-header-banner div{
    text-align: center;
    color: #ffffff
}

.postal-bg-tracking section{
    background-color: rgba(0, 89, 80, .64)
}

section.breadcrumbs {
    margin: 5px auto;
}

.postal-search {
    margin: 5px 0 15px 0;
}

.postal-item-pill .media-content p span {
    font-weight: bolder;
}

.form-info p, .form-info span {
    color: #7e7e7e;
}

.postal-payment-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.postal-vehicle-list, .postal-badges-list {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.postal-form-space, .dashboard .container .postal-quick-buttons, .VIN  {
    margin-bottom: 30px;
}

#postal-shift {
    background: radial-gradient(circle, #ffffff, #f0f0f0);
}

.shiftdash {
    background-color: #F6BE00;
    color: #292929;
}
#form_endShift {
    background-color: #f0f0f0;
    color: #292929;
    font-weight: bolder;
}

#form_endShift:hover {
    background-color: #292929;
    color: #f0f0f0;
}

#postal-shift .container .subtitle {
    color: #7e7e7e;
}
#postal-shift .container .title {
    color: #292929;
}

#postal-shift .container .subtitle span {
    color: #F6BE00;
}

.postal-package-table {
    background-color: #c8102e !important;
}

.postal-package-table tr th {
    color: #fff9d9;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    color: #960C22;
}
h2 {
    font-size: 20px;
    font-weight: 700;
}

.postal-form-space div{
    margin-bottom: 5px;
}