{%  extends 'customer_layout.html.twig' %}

{% block title %}
{{ parent() }} - Create Package
{% endblock %}


            {% block navOptions %}
            {{parent()}}
            {% endblock %}


{% block body %}
    {{ parent() }}
    
    <section class="section">
        <div class="container">
            <div class="subtitle">
                Create and Ship A Package
            </div>
        </div>
    </section>

    <section class="section is-small">
        <div class="container">
            {{ form(package) }}
        </div>
    </section>


{% endblock %}