{%  extends 'customer_layout.html.twig' %}

{% block title %}
{{ parent() }} - Dashboard
{% endblock %}


            {% block navOptions %}
            {{parent()}}
            {% endblock %}


{% block body %}
    {{ parent() }}
    <section class="hero is-dark">
    </section>

    <section class="section">
        <div class="container">
            <div class="subtitle">

            </div>
        </div>
    </section>

    <section class="section is-small">
        <div class="container">

        </div>
    </section>


{% endblock %}