{% extends 'customer_layout.html.twig' %}

{% block body %}
{{ parent() }}

    <section id="postal-banner" class="section postal-banner">
        <div class="container">

            {% for crumbsKey, crumbsValue in breadcrumbs %}
                <a href={{ crumbsValue }}>{{ crumbsKey}}</a> <strong>/</strong>
            {% endfor %}

            <div class="title">Viewing Invoice</div>
            <div class="subtitle">For Package {{ id }}</div>
        </div>

    </section>

    <section class="section">
        <div class="container">
            
        </div>
    </section>
{% endblock %}