{% extends 'customer_layout.html.twig' %}

{% block body %}
{{ parent() }}

    <section id="postal-banner" class="section postal-banner">
        <div class="container">
            <div class="title">Viewing Invoice</div>
            <div class="subtitle">For Package {{ id }}</div>
        </div>

    </section>
{% endblock %}