{% extends 'customer_layout.html.twig' %}

{% block body %}
{{ parent() }}

    <section id="postal-banner" class="section postal-banner">
        <div class="container">
            <div class="title">Viewing Package Tracking</div>
            <div class="subtitle"></div>
        </div>

    </section>
{% endblock %}